@model IEnumerable<MenuItem>
@using Spice.Utility

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<br />

<div class="border background-white">
    <div class="row">
        <div class="col-6">
            <h2 class="text-info">Menu Item List</h2>
        </div>
        <div class="col-6 text-right">
            @*   <a asp-action="Create" asp-controller="Category" asp-area="Admin" class="btn btn-info"><i class="fas fa-plus"></i> &nbsp; Create new category</a>*@
            <partial name="_CreateButtonPartial" />
        </div>
    </div>
    <div class="">
        @if (Model.Count() > 0)
        {
            <table class="table table-striped border">
                <tr class="table-secondary">
                    <th>
                        @Html.DisplayNameFor(m => m.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(m => m.Price) <span class=""> in @SD.DefaultCultureInfo.IetfLanguageTag.ToString().Split("-")[1] @SD.DefaultCultureInfo.NumberFormat.CurrencySymbol</span>

                    </th>
                    <th>@Html.DisplayNameFor(m => m.Category.Id)</th>
                    <th>@Html.DisplayNameFor(m => m.SubCategory.Id)</th>
                    <th></th>
                    <th></th>

                </tr>
                @foreach (var item in Model)
                {
            <tr>
                <td>
                    @Html.DisplayFor(m => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(m => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(m => item.Category.Name)
                </td>
                <td>
                    @Html.DisplayFor(m => item.SubCategory.Name)
                </td>

                <td> <partial name="_TableButtonPartial" model="item.Id" /> </td>
            </tr>
                }
            </table>
        }
        else
        {
            <br />
            <p>There isn't existing menu items yet :(</p>
        }

    </div>

</div>

